{% extends "base_menu.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<!-- Enlace al CSS externo -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
<h2>{{ titulo }}</h2>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.codigo.label(class="form-label") }}
        {{ form.codigo(class="form-control") }}
        {% for error in form.codigo.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {{ form.nombre.label(class="form-label") }}
        {{ form.nombre(class="form-control") }}
        {% for error in form.nombre.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {{ form.stock_actual.label(class="form-label") }}
        {{ form.stock_actual(class="form-control") }}
        {% for error in form.stock_actual.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {{ form.stock_minimo.label(class="form-label") }}
        {{ form.stock_minimo(class="form-control") }}
        {% for error in form.stock_minimo.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {{ form.precio_venta.label(class="form-label") }}
        {{ form.precio_venta(class="form-control") }}
        {% for error in form.precio_venta.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    {{ form.submit(class="btn btn-primary") }}
    <a href="{{ url_for('main_bp.listar_productos') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
